*{
    background-color: rgb(255, 255, 168);
}

.WhatsApp {
    background: #25D366;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.phone {
    background: #1E88E5;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.meet {
    background: #6A1B9A;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 52px;
    font-weight: bold;
    margin: 13px;
    margin-bottom: 70px;
    text-align: center;
}

.texto {
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.footer {
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}


