*{
    background-color: rgb(255, 255, 168);
}

.WhatsApp {
    background: #25D366;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.phone {
    background: #1E88E5;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.meet {
    background: #6A1B9A;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}
